* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #f4f4f4;
}

.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: #f4f4f4;
  padding: 0;
  margin: 0;
}

.homepage__header {
  background-image: url('/nen.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px 0;
  margin: 0;
  width: 100vw;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
}

.homepage__logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.homepage__logo img {
  height: 60px;
  width: auto;
}

.homepage__nav ul {
  display: flex;
  gap: 60px;
}

.homepage__nav ul li {
  list-style: none;
}

.homepage__nav ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  font-size: 30px;
  font-weight: 200;
  transition: 0.3s;
}

.homepage__nav ul li a:hover {
  color: #24a137;
}

.homepage__login-search {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.homepage__search-form {
  display: flex;
  gap: 10px;
}

.homepage__search-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  width: 200px;
}

.homepage__search-btn {
  padding: 10px;
  font-size: 18px; /* Giảm kích thước font của icon */
  background-color: #24a137;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage__search-btn i {
  font-size: 20px; /* Kích thước của icon */
}

.homepage__search-btn:hover {
  background-color: #24a137;
}

.homepage__login-btn {
  padding: 14px 28px;
  font-size: 20px;
  background: #24a137;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.homepage__login-btn:hover {
  background: #24a137;
}

.homepage__footer {
  margin-top: auto;
  font-size: 18px;
  color: #666;
  text-align: center;
  padding: 20px 0;
  background: #f1f1f1;
  width: 100%;
}
